fastapi
starlette
uvicorn
IDU-config
pydantic
accelerate
git+https://github.com/huggingface/diffusers.git
torch>=1.4
torchvision
transformers>=4.41.2
huggingface_hub
hf-xet
wandb
triton
loguru
xformers
datasets
bitsandbytes